In [63]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/Concepts of Technology of AI/Copy of Titanic-Dataset.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

Create a DataFrame called fare that contains only the Fare column of the Titanic dataset. Print the
head of the result.

In [64]:
fare = df.sort_values('Fare')
fare = fare['Fare']
fare.head(200)

271    0.0000
597    0.0000
302    0.0000
633    0.0000
277    0.0000
        ...
410    7.8958
650    7.8958
646    7.8958
420    7.8958
794    7.8958
Name: Fare, Length: 200, dtype: float64

Create a DataFrame called class age that contains only the Pclass and Age columns of the Titanic
dataset, in that order. Print the head of the result.

In [65]:
class_age = df[['Pclass', 'Age']]
class_age = class_age.sort_values(by=['Pclass','Age'])
class_age.head(200)

     Pclass    Age
305       1   0.92
297       1   2.00
445       1   4.00
802       1  11.00
435       1  14.00
..      ...    ...
295       1    NaN
298       1    NaN
306       1    NaN
334       1    NaN
351       1    NaN

[200 rows x 2 columns]

Create a DataFrame called survived gender that contains the Survived and Sex columns of the
Titanic dataset, in that order.Print the head of the result.

In [66]:
survived_gender = df[['Survived','Sex']]
survived_gender = survived_gender.sort_values(['Survived','Sex'])
survived_gender.head()

    Survived     Sex
14         0  female
18         0  female
24         0  female
38         0  female
40         0  female

Filter the Titanic dataset for cases where the passenger’s fare is greater than 100, assigning it
to fare gt 100.View the printed result.

In [67]:
fare_gt_100 = df["Fare"].loc[df['Fare'] > 100]
fare_gt_100.head()

27     263.0000
31     146.5208
88     263.0000
118    247.5208
195    146.5208
Name: Fare, dtype: float64

Filter the Titanic dataset for cases where the passenger’s class (Pclass) is 1, assigning it to
first class.View the printed result.

In [68]:
first_class = df.loc[df['Pclass'] == 1]
first_class.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S

Filter the Titanic dataset for cases where the passenger’s age is less than 18 and the passenger
is female (Sex is "female"), assigning it to female under 18. View the printed result.

In [69]:
female_under_18 = df.loc[(df['Sex']=='female')&(df['Age']<18)]
female_under_18.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S

Filter the Titanic dataset for passengers whose Embarked port is either "C" (Cherbourg) or "S"
(Southampton), assigning the result to embarked c or s. View the printed result.

In [70]:
embarked_c_or_s = df[(df['Embarked'] == 'C') | (df['Embarked'] == 'S')]
embarked_c_or_s = embarked_c_or_s['Embarked']
embarked_c_or_s.head()

0    S
1    C
2    S
3    S
4    S
Name: Embarked, dtype: object

Filter the Titanic dataset for passengers whose Pclass is in the list [1, 2] (indicating first
or second class), assigning the result to first second class.View the printed result.

In [71]:
first_second_class = df[(df['Pclass']== 1) | (df['Pclass'] == 2)]
first_second_class

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
...,...,...,...,...,...,...,...,...,...,...,...,...
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

Exploratory Data Analysis Practice Exercise - 1.
Warning: Handle missing values in the Age column by filling them with the median age of the dataset before performing the division.)

Answer the following questions from Dataset:

Which passenger had the highest fare paid relative to their age?
To answer the question perform following operations:
1. Add a column to the Titanic dataset, fare per year, containing the fare divided by the age of
the passenger(i.e., Fare/Age).
2. Subset rows where fare per year is higher than 5, assigning this to high fare age.
3. Sort high fare age by descending fare per year, assigning this to high fare age srt.
4. Select only the Name and fare per year columns of high fare age srt and save the result as result.
5. Look at the result.

In [72]:
df['Age'] = df['Age'].fillna(df['Age'].median())
df['FarePerYear'] = df['Fare']/df['Age']
high_fare_age = df.loc[df['FarePerYear'] > 5]
high_fare_age_str = high_fare_age.sort_values('FarePerYear', ascending=False)
high_fare_age_str[['Name','FarePerYear']].to_csv('result.csv')
high_fare_age_str[['Name','FarePerYear']]

                                               Name  FarePerYear
305                  Allison, Master. Hudson Trevor   164.728261
297                    Allison, Miss. Helen Loraine    75.775000
386                 Goodwin, Master. Sidney Leonard    46.900000
164                    Panula, Master. Eino Viljami    39.687500
183                       Becker, Master. Richard F    39.000000
..                                              ...          ...
348          Coutts, Master. William Loch "William"     5.300000
31   Spencer, Mrs. William Augustus (Marie Eugenie)     5.232886
205                      Strom, Miss. Telma Matilda     5.231250
813              Andersson, Miss. Ebba Iris Alfrida     5.212500
480                  Goodwin, Master. Harold Victor     5.211111

[71 rows x 2 columns]

Which adult male passenger (age ≥ 18 and Sex is ’male’) paid the highest fare relative to their
class?

To answer the question perform following operations:
1. Add a column to the Titanic dataset, fare per class, containing the fare divided by the passenger
class i.e. Fare / Pclass.
2. Subset rows where the passenger is male (Sex is ”male”) and an adult (Age is greater than or equal
to 18), assigning this to adult males.
3. Sort adult males by descending fare per class, assigning this to adult males srt.
4. Select only the Name, Age, and fare per class columns of adult males sr and save the result
as result.
5. Look at the result.

In [73]:
df['FarePerClass'] = df['Fare']/df['Pclass']
adult_males = df.loc[(df['Sex']=='male')& (df['Age'] >=18)]
adult_males_srt = adult_males.sort_values(by = 'FarePerClass',ascending=False)
adult_males_srt[['Name','Age','FarePerClass']].to_csv('result.csv')
adult_males_srt[['Name','Age','FarePerClass']]

                                   Name   Age  FarePerClass
737              Lesurer, Mr. Gustave J  35.0      512.3292
679  Cardeza, Mr. Thomas Drake Martinez  36.0      512.3292
438                   Fortune, Mr. Mark  64.0      263.0000
27       Fortune, Mr. Charles Alexander  19.0      263.0000
118            Baxter, Mr. Quigg Edmond  24.0      247.5208
..                                  ...   ...           ...
806              Andrews, Mr. Thomas Jr  39.0        0.0000
481    Frost, Mr. Anthony Wood "Archie"  28.0        0.0000
413      Cunningham, Mr. Alfred Fleming  28.0        0.0000
466               Campbell, Mr. William  28.0        0.0000
271        Tornquist, Mr. William Henry  25.0        0.0000

[519 rows x 3 columns]

Exploratory Data Analysis with Group-by Method Practice Exercise:

Based on the dataset Answer the following question:

What percent of the total fare revenue came from each passenger class?

To answer the question perform following operation:
1. Calculate the total Fare paid across all passengers in the Titanic dataset.
2. Subset for passengers in first class (Pclass is 1) and calculate their total fare.
3. Do the same for second class (Pclass is 2) and third class (Pclass is 3).
4. Combine the fare totals from first, second, and third classes into a list.
5. Divide the totals for each class by the overall total fare to get the proportion of fare revenue by class.

In [74]:
total_fare_paid = df['Fare'].sum()
total_fare_paid_by_class = df.groupby('Pclass')['Fare'].sum()
proportion_fare_revenue_by_class = total_fare_paid_by_class/total_fare_paid * 100
print(f" total fare paid: {total_fare_paid}")
print()
print("total fate paid per class: ")
print(total_fare_paid_by_class)
print()
print('Proportion of fare revenue by class: ')
print(proportion_fare_revenue_by_class)

 total fare paid: 28693.9493

total fate paid per class:
Pclass
1    18177.4125
2     3801.8417
3     6714.6951
Name: Fare, dtype: float64

Proportion of fare revenue by class:
Pclass
1    63.349288
2    13.249629
3    23.401084
Name: Fare, dtype: float64

Based on the dataset Answer the following question:

What percent of the total number of passengers on the Titanic belonged to each age group
(e.g., child, adult, senior)?

To answer the question perform following operation:

1. Create a new column, age group, that categorizes passengers into "child" (age < 18), "adult" (age
18{64), and "senior" (age 65 and above).
2. Calculate the total number of passengers on the Titanic.
3. Count the number of passengers in each age group.
4. Divide the count of each age group by the total number of passengers to get the proportion of passengers
in each age group.
5. Display the proportion as a percentage.

In [115]:
def categorizes_age(age):
  if age < 18:
    return 'child'
  elif age < 64:
    return 'adult'
  else:
    return 'senior'
df['age_group'] = df['Age'].apply(categorizes_age)
total_passengers = df['PassengerId'].count()
passengers = df.groupby(df['age_group'])['PassengerId'].count()
passengers_age_group = passengers/total_passengers * 100
print("total number of passengers = ",total_passengers)
print()
print("passengers in each age group: ")
print(passengers)
print()
print("percent of the total number of passengers on the Titanic belonged to each age group: ")
print(passengers_age_group)

total number of passengers =  891

passengers in each age group:
age_group
adult     765
child     113
senior     13
Name: PassengerId, dtype: int64

percent of the total number of passengers on the Titanic belonged to each age group:
age_group
adult     85.858586
child     12.682379
senior     1.459035
Name: PassengerId, dtype: float64